
.login {
    margin: 0 auto;
    margin-top: 18%;
    margin-left: 10%;
    width: 50%;
}

.login-input {
    width: 300px;
    margin: 15px 0;
    border-radius: 0;
}

.login-btn {
    width: 300px;
    /*border-radius: 10px;*/
    background-color: #8F001F;
    height: 35px;
    color: white;
    margin: 0 10px;
}


.login a:hover{
    color: white;
}

.login-btn:hover{
    color: white;
    background-color: #ac2925;
    cursor: pointer;
}

.login-text {
    font-size: 12px;
    margin-top: 5px;
    font-weight: lighter;
}

.display-right {
    display: block;
    float: right;
}

.width-300 {
    width: 300px;
}

.display-left {
    display: block;
    float: left;
}
.login-background {
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("./background.jpeg") no-repeat fixed left top;
    background-size: cover;
    color: white;
}

.form-control{
    display: block;
    height: 25px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}